src/test/resources/data/schema/test-data-types-schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.holidays.com"
           xmlns="https://www.holidays.com"
           elementFormDefault="qualified">

    <xs:complexType name="Holiday">
        <xs:attribute name="id"   type="xs:long" use="required"/>
        <xs:attribute name="holiday_date" type="xs:date" use="required"/>
    </xs:complexType>

</xs:schema>